// <!-- 頁尾 -->
.footer{
    background-color: $light;
    border-top: 1px solid $grey-light;
    &-icon{
        &:hover{
            color: $primary !important;
        }
    }
}

.stadium-footer{
    display: none;
	@media (min-width: 1200px){
        display: block;
    }
}
// <!-- 頁尾END -->