// h1{
//     background-image: "../../images/aoba_logo_48x3.svg";
//     background-repeat: no-repeat;
//     background-size: cover;
//     background-position: center center;
//     width: 128px;
//     height: 48px;
//     text-indent: 101%;
//     white-space: nowrap;
//     overflow: hidden;
// };
h1{
    background-image: url(../../images/aoba_logo_48x3.svg);
    width: 150px; 
    height: 42.677px;
    text-indent: 101%;
    white-space: nowrap;
    overflow: hidden;
  }
.logo{
	height: 48px;
}