// <!-- 導覽列 -->
.logo{
	width: 124px;
	height: 40px;
}

h1{
	background: url(https://raw.githubusercontent.com/hd1313169/aobaBadminton/main/app/assets/images/aoba_logo_48x3.svg) no-repeat left center;
	width: 128px;
	height: 40px;
	text-indent: 101%;
	white-space: nowrap;
	overflow: hidden;
}


.navbar-decoration{
	display: flex;
	width: 100%;
	height: 4px;
	&-left{
		width: 50%;
		height: 4px;
		background: #56BBB5;
	};
	&-right{
		width: 50%;
		height: 4px;
		background: #FBD64A;
	}
}

.navbar-desktop{
	display: none;
	@media (min-width: 768px){
		display: block;
	}
}

.nav-item-btn{
	&:hover{
		color: #56BBB5 !important; 
	}
	&-logOut{
		&:hover{
			color: #FBB84A !important;
		}
	}
}
// <!-- 導覽列END -->

// <!-- 頁尾 -->
.footer{
	border-top: 1px solid #D9D9D9;
}
// <!-- 頁尾END -->

.hero{
	background-image: url(https://github.com/hd1313169/aobaBadminton/blob/main/app/assets/images/aoba_hero.png?raw=true);
	background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
	width: 100%;
	height: 700px;
}



.coachCard-swiper{
    // height: 400px;

	@media (min-width: 768px){
		display: block;
	}
}

.swiper-slide {

	/* Center slide text vertically */
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
  }

  .swiper-slide img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
  }