// <!-- 導覽列 -->
.logo{
	width: 124px;
	height: 40px;
}

h1{
	background: url(https://raw.githubusercontent.com/hd1313169/aobaBadminton/main/app/assets/images/aoba_logo_48x3.svg) no-repeat left center;
	width: 128px;
	height: 40px;
	text-indent: 101%;
	white-space: nowrap;
	overflow: hidden;
}

// .navbar{
// 	&::before{
// 		position: absolute;
// 		content: "";
// 		width: 50%;
// 		height: 4px;
// 		background: $primary;
// 		bottom: -4px;
// 		left: 0;
// 	}
// 	&::after{
// 		position: absolute;
// 		content: "";
// 		width: 50%;
// 		height: 4px;
// 		background: $warning;
// 		bottom: -4px;
// 		right: 0;
// 	}
// }

.navbar-desktop{
	display: none;
	@media (min-width: 768px){
		display: block;
	}
}

.nav-item-btn{
	&:hover{
		text-decoration: underline;
		// color: $primary !important; 
	}
	&-logOut{
		&:hover{
			color: $secondary !important;
		}
	}
}
// <!-- 導覽列END -->
