.area-dropdown{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;

    a{
        width: 100%;
        text-align-last: left;
        display: block;

    }
}