.hero {
	position: relative;
	width: 100%;
	height: 240px;
	border-radius: 8px;
	background-image: url(https://raw.githubusercontent.com/hd1313169/aobaBadminton/main/app/assets/images/banner.jpg);
	background-size: 150%;
	background-position: 40% 20%;
	background-repeat: no-repeat;

	@media (min-width: 576px) {
		height: 320px;
	}
	@media (min-width: 768px) {
		height: 440px;
	}

	&-content{
		position: absolute;
		left: 8%;
		bottom: 16%;
		color: $light;

		@media (min-width: 992px) {
			left: 12%;
			bottom: 20%;
		}
	}
}

.title-icon {
	width: 48px;
	height: 48px;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}

.more-btn {
	font-weight: light;
	position: absolute;
	right: 0;
	top: 8px;
}


.intro {
	&-item {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		text-align: center;
	}

	&-icon {

		width: 120px;
		height: 120px;
		background-size: contain;
		background-position: center;
		background-repeat: no-repeat;

		&-next {
			width: 24px;
			height: 24px;
			background-image: url(https://raw.githubusercontent.com/hd1313169/aobaBadminton/main/app/assets/images/aoba_down_icon.svg);
			background-size: contain;
			background-position: center;
			background-repeat: no-repeat;

			@media (min-width: 768px) {
				background-image: url(https://raw.githubusercontent.com/hd1313169/aobaBadminton/main/app/assets/images/aoba_next_icon.svg);
			}

		}
	}

	&-content {
		h3 span {
			display: inline-block;
			width: 24px;
			height: 24px;
			background-color: $dark;
			text-align: center;
			border-radius: 48px;
		}
	}
}