.stadium-img {
    width: 100%;
    height: 280px;

    @media (min-width: 992px) {
        height: 500px;
    }

    &-main {
        width: 100%;
        height: 100%;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        cursor: pointer;
    }

    &-side {
        width: 100%;
        height: 48%;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        cursor: pointer;
    }

    &-display {
        display: none;

        @media (min-width: 992px) {
            display: block;
        }
    }
    
    &-modal{
        display: block;
        width: 100%;
    }
}

.stadium-info{
    &-location{
        display: block;
        margin-bottom: 8px;
    }

    @media (min-width: 576px) {
        display: flex;
        &-location{
            margin-bottom: 0px;
            margin-right: 40px;
        }
    }
}
.court-icon{
    width: 20px;
	height: 20px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.stadium-dropdown{
    width: 342px;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.stadium-court-item{
    display: block;
    width: 56px;
    height: 56px;
    background: $light;
    border: 1px solid $grey-light;
    border-radius: 4px;
    text-align: center;
    margin-right: 8px;
    margin-bottom: 8px;
    padding: 16px 0;
    &:hover{
        background: $primary-light;
        color: $light !important;
    }
    &:focus{
        background: $primary;
        color: $light !important;
    }
    &-disabled{
        pointer-events: none;
        cursor: default;
        background: $grey-light;
        color: $light !important;
    }
}
.bookList{
    display: none;
    @media (min-width: 1200px){
        display: block;
        position: sticky;
        top: 0;
    }

    &-cancelBtn{
        &:hover{
            color: $secondary !important;
        }
    }
}


 .bookList-modal{
    position: sticky;
    bottom: 0;
    @media (min-width: 1200px){
        display: none;
    }
 }

