.stadium-img {
    width: 100%;
    height: 280px;

    @media (min-width: 992px) {
        height: 500px;
    }

    &-main {
        width: 100%;
        height: 100%;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        cursor: pointer;
    }

    &-side {
        width: 100%;
        height: 48%;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        cursor: pointer;
    }

    &-display {
        display: none;

        @media (min-width: 992px) {
            display: block;
        }
    }
    
    &-modal{
        display: block;
        width: 100%;
    }
}

.stadium-info{
    &-location{
        display: block;
        margin-bottom: 16px;
    }

    @media (min-width: 576px) {
        display: flex;
        &-location{
            margin-bottom: 0px;
            margin-right: 40px;
        }
    }
}
.court-icon{
    width: 20px;
	height: 20px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}