.progress{
    height: 12px;

    @media (min-width: 768px){
        height: 16px;
    }
    &-bar::after{
        display: inline-block;
            position: absolute;
            content: "";
            width: 36px;
            height: 36px;
            border-radius: 24px;
            // background: $primary;
            background-image: url(../../images/aoba_badminton_icon.png);
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            left: calc(33% - 18px);
    }
    &-bar-33{
        width: 33%;
    }
    &-bar-gradient{
        background: linear-gradient(90deg, $light, $primary-light, $primary);
    }
    
}

.badminton{
    vertical-align: middle;
    top: -50%;
    left: calc(33% - 18px);
    width: 36px;
    height: 36px;
    border-radius: 24px;
}