// 圓角矩形
.rounded-4 {
    border-radius: 4px !important;
}
.rounded-8 {
    border-radius: 8px !important;
}

.rounded-12 {
    border-radius: 12px !important;
}

.rounded-16 {
    border-radius: 16px !important;
}

.rounded-24 {
    border-radius: 24px !important;
}

// <!-- 文字 -->

// 字體
.ff-ns {
    font-family: 'Noto Sans TC';
}

.ff-rb {
    font-family: roboto;
}

// 文字漸層
.text-gradient {
    background: linear-gradient(90deg, $primary, $primary-light);
    background: -webkit-linear-gradient(90deg, $primary-light, $primary);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;

    &:hover {
        background: linear-gradient(90deg, $primary, $primary-light);
        background: -webkit-linear-gradient(90deg, $primary, $primary-light);
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
    }
}

;
// <!-- 文字END -->


// <!-- 按鈕 -->
.primaryBtn-L {
    display: block;
    padding: 12px 102px;
    background: linear-gradient(135deg, $primary, $primary-light);
    border-radius: 8px;

    &:hover {
        background: linear-gradient(135deg, $primary-light, $primary);
    }
}

.secondaryBtn-L {
    display: block;
    padding: 12px 102px;
    background: $light;
    border: 1px solid $primary;
    border-radius: 8px;

    &:hover {
        background: $primary;
        color: $light !important;
    }
}

.primaryBtn-M {
    display: block;
    width: 50%;
    padding: 12px 0px;
    background: linear-gradient(135deg, $primary, $primary-light);
    border-radius: 8px;

    @media (min-width: 992px) {
        width: 16%;
    }

    &:hover {
        background: linear-gradient(135deg, $primary-light, $primary);
    }
}

.secondaryBtn-M {
    display: block;
    width: 50%;
    padding: 12px 0px;
    background: $light;
    border: 1px solid $primary;
    border-radius: 8px;

    @media (min-width: 992px) {
        width: 16%;
    }

    &:hover {
        background: $primary;
        color: $light !important;
    }
}

.specialBtn-M {
    display: block;
    width: 50%;
    padding: 12px 0px;
    background: $secondary;
    border: 1px solid $light;
    border-radius: 8px;

    @media (min-width: 992px) {
        width: 16%;
    }

    &:hover {
        background: white;
        color: $secondary !important;
    }
}

.primaryBtn-S {
    display: block;
    padding: 8px 16px;
    background: linear-gradient(135deg, $primary, $primary-light);
    border-radius: 4px;

    &:hover {
        background: linear-gradient(135deg, $primary-light, $primary);
    }
}

.secondaryBtn-S {
    display: block;
    padding: 8px 16px;
    background: $light;
    border: 1px solid $primary;
    border-radius: 4px;

    &:hover {
        background: $primary;

        a {
            color: $light !important;
        }
    }
}

.secondaryBtn-XS {
    padding: 2px 8px;
    background: $light;
    border: 1px solid $primary;
    border-radius: 8px;

    &:hover {
        background: $primary;
        color: $light !important;
    }
}

// <!-- 按鈕END -->

li {
    list-style: none;
}

.areaCard {
    position: relative;
    border-radius: 8px !important;

    &-img {
        width: 100%;
        height: 240px;
        border-radius: 8px !important;

        background-position: 50%;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        transition: all .5s ease-in-out;
    }

    &-address {
        p {
            &:hover {
                text-decoration: underline;
            }
        }
    }

    &-decoration {
        width: 0px;
        height: 4px;
        transition: width .5s;

    }

    &:hover {
        .areaCard-decoration {
            width: 100%;
            background: linear-gradient(90deg, $primary, $primary-light);
        }

        .areaCard-img {
            background-size: 125% 125%;
        }
    }

    &-tag-lg {
        top: 16px;
        left: 0;
    }

    &-tag-sm {
        top: 64px;
        left: 0;
    }
}

.coachCard {
    position: relative;
    border-radius: 8px !important;

    &-img {
        height: 240px;
        border-radius: 8px 8px 0 0 !important;

        background-position: top;
        background-size: cover;
        background-repeat: no-repeat;
        transition: all .5s ease-in-out;

        @media (min-width: 768px) {
            height: 200px;
        }

        @media (min-width: 992px) {
            height: 240px;
        }

    }


    &:hover {
        .coachCard-img {
            background-size: 125% auto;
        }
    }
}


.form {

    &-logIn,
    &-signUp {
        width: 280px;
    }

    &-box {
        height: 48px;
        border: 1px solid $grey-light;
        border-radius: 8px;

        &-s {
            width: 90%;
        }

        &::placeholder {
            color: $grey-light;
        }
    }

    &-sso-title {
        &::before {
            display: inline-block;
            position: absolute;
            content: "";
            width: 64px;
            height: 1px;
            background: $grey;
            left: 8px;
            top: 50%;
        }

        &::after {
            display: inline-block;
            position: absolute;
            content: "";
            width: 64px;
            height: 1px;
            background: $grey;
            right: 8px;
            top: 50%;
        }
    }
}