// <!-- 按鈕 -->
.primaryBtn-L {
    display: block;
    padding: 12px 88px;
    background: linear-gradient(135deg, $primary, $primary-light);
    border-radius: 8px;

    &:hover {
        background: linear-gradient(135deg, $primary-light, $primary);
    }
}

.secondaryBtn-L {
    display: block;
    padding: 12px 88px;
    background: $light;
    border: 1px solid $primary;
    border-radius: 8px;

    &:hover {
        background: $primary;
        color: $light !important;
    }
}

.primaryBtn-M {
    display: block;
    min-width: 120px;
    padding: 12px 24px;
    background: linear-gradient(135deg, $primary, $primary-light);
    border-radius: 8px;


    &:hover {
        background: linear-gradient(135deg, $primary-light, $primary);
    }
}

.secondaryBtn-M {
    display: block;
    min-width: 120px;
    padding: 12px 24px;
    background: $light;
    border: 1px solid $primary;
    border-radius: 8px;



    &:hover {
        background: $primary;
        color: $light !important;
    }
}

.specialBtn-M {
    display: block;
    width: 50%;
    padding: 12px 0px;
    background: $secondary;
    border: 1px solid $light;
    border-radius: 8px;

    @media (min-width: 992px) {
        width: 16%;
    }

    &:hover {
        background: white;
        color: $secondary !important;
    }
}

.primaryBtn-S {
    display: block;
    padding: 8px 16px;
    background: linear-gradient(135deg, $primary, $primary-light);
    border-radius: 4px;

    &:hover {
        background: linear-gradient(135deg, $primary-light, $primary);
    }
}

.secondaryBtn-S {
    display: block;
    padding: 8px 16px;
    background: $light;
    border: 1px solid $primary;
    border-radius: 4px;

    &:hover {
        background: $primary;

        a {
            color: $light !important;
        }
    }
}

.secondaryBtn-XS {
    padding: 2px 8px;
    background: $light;
    border: 1px solid $primary;
    border-radius: 8px;

    &:hover {
        background: $primary;
        color: $light !important;
    }
}

// <!--fab -->
.fab {
    position: fixed;
    display: flex;
    flex-direction: column;
    right: 8px;
    bottom: 120px;
    z-index: 1035;


    &-messenger {
        width: 56px;
        height: 56px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: $primary;
        border-radius: 48px;
    }
}