.progress{
    height: 12px;

    @media (min-width: 768px){
        height: 16px;
    }

    &-bar-gradient{
        background: linear-gradient(90deg, $light 0%, $primary-light 60%, $primary 100%);
    }

    &-bar-33{
        width: 33.33%;
        animation-name:barAnimation_33;
        animation-duration:1s;
        &::before{
            display: inline-block;
            position: absolute;
            content: "預約場地";
            color: $primary;
            width: 64px;
            height: 24px;
            left: calc(33.33% - 32px);
            bottom: -40px;
            animation-name:stepAnimation_33;
            animation-duration:1s;
        }
        &::after{
            display: inline-block;
            position: absolute;
            content: "";
            width: 36px;
            height: 36px;
            border-radius: 24px;
            background: 
                url(https://raw.githubusercontent.com/hd1313169/aobaBadminton/main/app/assets/images/aoba_badminton_icon.svg),
                    $primary;
            background-position: center;
            background-size: 80%;
            background-repeat: no-repeat;
            left: calc(33.33% - 18px);
            animation-name:patternAnimation_33;
            animation-duration:1s;
        }
    }

    &-bar-66{
        width: 66.66%;
        animation-name:barAnimation_66;
        animation-duration:1s;

        &::before{
            display: inline-block;
            position: absolute;
            content: "填寫資料";
            color: $primary;
            width: 64px;
            height: 24px;
            left: calc(66.66% - 32px);
            bottom: -40px;
            animation-name:stepAnimation_66;
            animation-duration:1s;
            
        }

        &::after{
            display: inline-block;
                position: absolute;
                content: "";
                width: 36px;
                height: 36px;
                border-radius: 24px;
                background: 
                    url(https://raw.githubusercontent.com/hd1313169/aobaBadminton/main/app/assets/images/aoba_badminton_icon.svg),
                    $primary;
                background-position: center;
                background-size: 80%;
                background-repeat: no-repeat;
                left: calc(66.66% - 18px);
                animation-name:patternAnimation_66;
                animation-duration:1s;
        }
    }

    &-bar-100{
        width: 99.99%;
        animation-name:barAnimation_99;
        animation-duration:1s;
        &::before{
            display: inline-block;
            position: absolute;
            content: "租借成功";
            color: $primary;
            width: 64px;
            height: 24px;
            left: calc(99.99% - 32px);
            bottom: -40px;
            animation-name:stepAnimation_99;
            animation-duration:1s;
            
        }
        &::after{
            display: inline-block;
                position: absolute;
                content: "";
                width: 36px;
                height: 36px;
                border-radius: 24px;
                // background: $primary;
                background: 
                    url(https://raw.githubusercontent.com/hd1313169/aobaBadminton/main/app/assets/images/aoba_badminton_icon.svg),
                    $primary;
                background-position: center;
                background-size: 80%;
                background-repeat: no-repeat;
                left: calc(99.99% - 18px);
                animation-name:patternAnimation_99;
                animation-duration:1s;
        }
    }
    
    
}

.badminton{
    vertical-align: middle;
    top: -50%;
    left: calc(33% - 18px);
    width: 36px;
    height: 36px;
    border-radius: 24px;
}

@keyframes barAnimation_33{
    from{
       width: 0%;
    }
    to{
        width: 33.33%;
    }
}
@keyframes stepAnimation_33{
    from{
        left: 0;
    }
    to{
        left: calc(33.33% - 32px);
    }
}
@keyframes patternAnimation_33{
    from{
        left: 0;
    }
    to{
        left: calc(33.33% - 18px);
    }
}
@keyframes barAnimation_66{
    from{
       width: 33.33%;
    }
    to{
        width: 66.66%;
    }
}
@keyframes stepAnimation_66{
    from{
        left: calc(33.33% - 32px);
    }
    to{
        left: calc(66.66% - 32px);
    }
}
@keyframes patternAnimation_66{
    from{
        left: calc(33.33% - 18px);
    }
    to{
        left: calc(66.66% - 18px);
    }
}
@keyframes barAnimation_99{
    from{
       width: 66.66%;
    }
    to{
        width: 99.99%;
    }
}
@keyframes stepAnimation_99{
    from{
        left: calc(66.66% - 32px);
    }
    to{
        left: calc(99.99% - 32px);
    }
}
@keyframes patternAnimation_99{
    from{
        left: calc(66.66% - 18px);
    }
    to{
        left: calc(99.99% - 18px);
    }
}
