.progress {

    &-item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &-icon {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 24px;
        height: 24px;
        border: 1px solid $primary;
        border-radius: 48px;
        color: $primary;

        &-active {
            background-color: $primary;
            color: $light;
        }
    }

    &-bar {
        &-bg {
            height: 8px;
            background-color: $primary-30;
            border-radius: 48px;
        }

        &-0{
            width: 5%;
            animation-name: barAnimation_0;
            animation-duration: 1s;
        }

        &-20 {
            width: 20%;
            animation-name: barAnimation_20;
            animation-duration: 1s;
        }

        &-40 {
            width: 40%;
            animation-name: barAnimation_40;
            animation-duration: 1s;
        }

        &-60 {
            width: 60%;
            animation-name: barAnimation_60;
            animation-duration: 1s;
        }

        &-80 {
            width: 80%;
            animation-name: barAnimation_80;
            animation-duration: 1s;
        }

        &-100 {
            width: 100%;
            animation-name: barAnimation_100;
            animation-duration: 1s;
        }
    }

    &-indicator {
        position: absolute;
        width: 22px;
        height: 22px;
        background-color: $light;
        border: 1px solid $primary;
        border-radius: 48px;
        display: flex;
        justify-content: center;
        align-items: center;


        &-bg {
            width: 18px;
            height: 18px;
            background-color: $primary;
            border-radius: 48px;

            display: flex;
            justify-content: center;
            align-items: center;
        }

        &-icon {
            width: 14px;
            height: 14px;
            background-image: url(https://raw.githubusercontent.com/hd1313169/aobaBadminton/main/app/assets/images/aoba_badminton_icon.svg);
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
        }

        &-0 {
            top: calc((8px / 2) - (22px / 2));
            left: calc(5% - (22px / 2));
            animation-name: patternAnimation_0;
            animation-duration: 1s;
        }

        &-20 {
            top: calc((8px / 2) - (22px / 2));
            left: calc(20% - (22px / 2));
            animation-name: patternAnimation_20;
            animation-duration: 1s;
        }

        &-40 {
            top: calc((8px / 2) - (22px / 2));
            left: calc(40% - (22px / 2));
            animation-name: patternAnimation_40;
            animation-duration: 1s;
        }

        &-60 {
            top: calc((8px / 2) - (22px / 2));
            left: calc(60% - (22px / 2));
            animation-name: patternAnimation_60;
            animation-duration: 1s;
        }

        &-80 {
            top: calc((8px / 2) - (22px / 2));
            left: calc(80% - (22px / 2));
            animation-name: patternAnimation_80;
            animation-duration: 1s;
        }

        &-100 {
            top: calc((8px / 2) - (22px / 2));
            left: calc(100% - (22px / 2));
            animation-name: patternAnimation_100;
            animation-duration: 1s;
        }
    }

}

@keyframes barAnimation_0 {
    from {
        width: 0;
    }

    to {
        width: 5%;
    }
}
@keyframes patternAnimation_20 {
    from {
        left: 0;
    }

    to {
        left: calc(5% - (22px / 2));
    }
}
@keyframes barAnimation_20 {
    from {
        width: 0;
    }

    to {
        width: 20%;
    }
}

@keyframes patternAnimation_20 {
    from {
        left: 0;
    }

    to {
        left: calc(20% - (22px / 2));
    }
}

@keyframes barAnimation_40 {
    from {
        width: 20%;
    }

    to {
        width: 40%;
    }
}

@keyframes patternAnimation_40 {
    from {
        left: calc(20% - 22px);
    }

    to {
        left: calc(40% - (22px / 2));
    }
}

@keyframes barAnimation_60 {
    from {
        width: 40%;
    }

    to {
        width: 60%;
    }
}

@keyframes patternAnimation_60 {
    from {
        left: calc(40% - 22px);
    }

    to {
        left: calc(60% - (22px / 2));
    }
}

@keyframes barAnimation_80 {
    from {
        width: 60%;
    }

    to {
        width: 80%;
    }
}

@keyframes patternAnimation_80 {
    from {
        left: calc(60% - 22px);
    }

    to {
        left: calc(80% - (22px / 2));
    }
}

@keyframes barAnimation_100 {
    from {
        width: 80%;
    }

    to {
        width: 100%;
    }
}

@keyframes patternAnimation_100 {
    from {
        left: calc(80% - 22px);
    }

    to {
        left: calc(100% - (22px / 2));
    }
}